<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:fragment="copy">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">HeroBase</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/heroes">Herobase</a>
                </li>
                <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" aria-current="page" href="/user">List of users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/profile">My Profile</a>
                </li>

            </ul>
                <div class="navbar-text " sec:authentication="name"> </div>
                <form class="form-inline" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                    <button class="btn btn-primary ml-5" type="submit">Sign out</button>
                </form>
        </div>
    </div>
</nav>
</div>
